# project stuff
Downloads/
*.log
*.sqlite

# Python stuff
.venv/
__pycache__/
*.egg-info/
build/
release/
start_dev.py
.vscode/settings.json

# Scripts
run.bat
input.txt
_download_log.txt
input-test.txt
Unsupported_Urls.txt
