[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "==23.1.0"
aiohttp = "==3.8.4"
beautifulsoup4 = "==4.12.2"
certifi = "==2022.12.7"
myjdapi = "==1.1.6"
PyYAML = "==6.0"
rich = "==13.3.4"
setuptools = "==67.7.2"
tqdm = "==4.65.0"
yarl = "==1.8.2"