[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "==0.8.0"
aiohttp = "==3.8.4"
aiolimiter = "==1.1.0"
aiorun = "==2023.7.2"
asyncpraw = "==7.7.0"
beautifulsoup4 = "==4.12.2"
certifi = "==2023.5.7"
myjdapi = "==1.1.7"
PyYAML = "==6.0"
rich = "==13.4.2"
setuptools = "==68.0.0"
tqdm = "==4.65.0"
yarl = "==1.9.2"