args==0.1.0
astroid==2.3.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
clint==0.5.1
colorama==0.4.3
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pylint==2.4.4
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
urllib3==1.26.5
wrapt==1.11.2
html5lib
