requests~=2.26.0
colorama~=0.4.4
Scrapy~=2.5.1
aiofiles~=0.8.0
aiohttp~=3.8.1
tqdm~=4.62.3
sanitize-filename~=1.2.0
readchar~=3.0.4
certifi~=2021.10.8
selenium~=4.1.0
chromedriver_autoinstaller~=0.3.1