aiofiles~=0.8.0
aiohttp~=3.8.1
certifi~=2021.10.8
colorama~=0.4.4
gofile-client~=1.0.0
nest-asyncio~=1.5.4
readchar~=3.0.4
requests==2.27.1
sanitize-filename~=1.2.0
Scrapy~=2.6.0
tqdm==4.63.0
yarl~=1.7.2