name: Publish to Test PyPI and PyPI

on: push

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install pypa/build
      run: python -m pip install --user build

    - name: Build a source tarball and binary wheel
      run: python -m build --sdist --wheel --outdir dist/

    - name: Publish to PyPI
      if: startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}

    - name: Publish to Test PyPI
      uses: pypa/gh-action-pypi-publish@v1.5.0
      with:
        repository_url: https://test.pypi.org/legacy/
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        skip_existing: true
